@mixin o-import-sprite-icon($x: 0, $y: 0) {
    background-position: $x $y;
}

/*
 * Override select style
 */

/* Common dropdown style */
.oe_import_dropdown {
    width: 100% !important;

    select {
        border-radius: 4px;
        padding-left: 8px;
    }

    select, .select2-choice {
        height: 26px;
        padding-right: 4px;
        border-bottom-right-radius: 4px;
        border-top-right-radius: 4px;
        background-image: url('/base_import/static/src/img/ui/dropdown_arrow_small.png');
        background-position: center right;
        background-repeat: no-repeat;
    }

    .select2-arrow {
        display: none !important;
    }
}

input.oe_import_dropdown {
    border-radius: 4px;
    border: 1px solid darkgrey;
    height: 26px;
    padding-left: 8px;
}

/* Field Type Dropdown */
.oe_import_dropdown.oe_import_match_field {
    .select2-choice {
        padding-left: 32px;

        abbr {
            top: 6px;
        }

        /* Show icon */
        &:before {
            width: 28px;
            height: 26px;
            display: block;
            float: left;
            margin: 0px 5px 0 0;
            border-right: 1px solid #a0abb9;
            background-color: white;
            content: "";
            position: absolute;
            left: -1px;
            top: -1px;
            border-bottom-left-radius: 4px;
            border-top-left-radius: 4px;
            border: 1px solid darkgrey;
        }
        &:after{
            background-image: url('/base_import/static/src/img/ui/studio_icons.png');
            background-repeat: no-repeat;
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 2px;
            left: 4px;
            bottom: auto;
            right: auto;
        }
    }

}

.o_import_field_binary:after {
    @include o-import-sprite-icon(0, 0);
}

.o_import_field_boolean:after {
    @include o-import-sprite-icon(0, -20px);
}

.o_import_field_char:after {
    @include o-import-sprite-icon(0, -40px);
}

.o_import_field_columns:after {
    @include o-import-sprite-icon(0, -60px);
}

.o_import_field_date:after {
    @include o-import-sprite-icon(0, -80px);
}

.o_import_field_datetime:after {
    @include o-import-sprite-icon(0, -100px);
}

.o_import_field_float:after {
    @include o-import-sprite-icon(0, -120px);
}

.o_import_field_html:after {
    @include o-import-sprite-icon(0, -140px);
}

.o_import_field_picture:after {
    @include o-import-sprite-icon(0, -160px);
}

.o_import_field_integer:after {
    @include o-import-sprite-icon(0, -180px);
}

.o_import_field_many2many:after {
    @include o-import-sprite-icon(0, -200px);
}

.o_import_field_many2one:after {
    @include o-import-sprite-icon(0, -220px);
}

.o_import_field_monetary:after {
    @include o-import-sprite-icon(0, -240px);
}

.o_import_field_one2many:after {
    @include o-import-sprite-icon(0, -260px);
}

.o_import_field_selection:after {
    @include o-import-sprite-icon(0, -280px);
}

.o_import_field_tabs:after {
    @include o-import-sprite-icon(0, -300px);
}

.o_import_field_tags:after {
    @include o-import-sprite-icon(0, -320px);
}

.o_import_field_text:after {
    @include o-import-sprite-icon(0, -340px);
}

.o_import_field_separator:after {
    @include o-import-sprite-icon(0, -360px);
}

.o_import_field_priority:after {
    @include o-import-sprite-icon(0, -380px);
}

.o_import_field_related:after {
    @include o-import-sprite-icon(0, -400px);
}

.o_web_studio_filter:after {
    @include o-import-sprite-icon(0, -420px);
}

.o_web_studio_field_signature:after {
    @include o-import-sprite-icon(0, -440px);
}
